
#
# Reflects the memory map of the JJ65c02 setup
#   use .segment "CODE" for ROM
#   use .segment "PROG" for RAM
#
MEMORY
{
  ZP:   start = $0,    size = $100,  type = rw, define = yes;
  RAM:  start = $0200, size = $7e00, type = rw, define = yes, file = "%O.bin";
  IO:   start = $8000, size = $1000, type = rw, define = yes, fill = yes, fillval = $ea, file = "%O.rom";
  ROM:  start = $9000, size = $7000, type = ro, define = yes, fill = yes, fillval = $ea, file = "%O.rom";
}

#
# Make all optional so we can use one cc65 config file for ROM and RAM images
#
SEGMENTS {
  ZEROPAGE:  load = ZP,  type = zp,  define = yes, optional = yes;
  SYSRAM:    load = RAM, type = rw,  define = yes, optional = yes, start = $0200;
  PROG:      load = RAM, type = rw,  define = yes, optional = yes, start = $0400;
  DATA:      load = ROM, type = rw,  define = yes, optional = yes, run = RAM;
  BSS:       load = RAM, type = bss, define = yes, optional = yes;
  HEAP:      load = RAM, type = bss, define = yes, optional = yes;
  RWDATA:    load = RAM, type = rw,  define = yes, optional = yes;
  CODE:      load = ROM, type = ro,  define = yes, optional = yes, start = $a000;
  RODATA:    load = ROM, type = ro,  define = yes, optional = yes;
  RODATA_PA: load = ROM, type = ro,  define = yes, optional = yes, align=$0100;
  ISR:       load = ROM, type = ro,  start = $ffc0, optional = yes;
  VECTORS:   load = ROM, type = ro,  start = $fffa, optional = yes;
}
